.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 80%;
}

td {
  padding-right: 8px;
}

.oneColl-full-width {
  width: 40%;
}

#botao{ text-align: center }
.botaoEnviar{
    text-align: center;
    padding: 15px 20px;
}

