
<section class="content-header">
    <section class="content">
      <br/><br/>
      <div class="jumbotron">
        <div class="jumbotron d-flex justify-content-center">
          <div class="col-md-12">
            <img style="max-height: 300px;max-width: 315px;" />
            <h2>Sorry, we can not find this page - Page of <a [routerLink]="['login']">Login</a></h2>
            <i>Auto redirect in 5 seconds</i>
            <meta http-equiv="refresh" content="5;url=/login" />
          </div>
        </div>
      </div>
    </section>
  </section>
