<mat-card>
  <mat-card-content>
    <div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="user.name">
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="user.email" type="email">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput placeholder="Gold" [(ngModel)]="user.gold" type="number">
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field>
            <input matInput placeholder="password" [(ngModel)]="user.password">
          </mat-form-field>
        </div>v
      </div>
    </div>
  </mat-card-content>

</mat-card>
